* {
  padding: 0px;
  margin: 0px;
}

.container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-color: #DAE5F5;
}



/* Sidebar */
.sidebar {
  width: 434px;
  background: #f4f4f4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  text-align: center;
}

.sidebar p {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 41px;
  letter-spacing: 0.02em;
  color: #000000;
  margin: 20px 50px;
}

.add-btn {
  margin-bottom: 10px;
  cursor: pointer;
  width: 93px;
  height: 93px;
}


.add-btn-sidebar {

  position: fixed;

  bottom: 20px;
  left: 354px;

  width: 93px;
  height: 93px;
  border-radius: 50%;
  background-color: #16008B;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 70px;
  z-index: 1000;

}

.notes-header {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #001F8B;
  color: white;
  height: 98px;
  position: sticky;
  top: 0;
  z-index: 5;
}

.header-avatar {
  width: 68.9px;
  height: 68.9px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  margin-left: 10px;
}

.header-title {
  margin: 0;

  height: 28px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;

  color: #FFFFFF;


}

.group {
  height: 98px;
  cursor: pointer;
  border-radius: 6px;
  margin-bottom: 6px;
}

.group:hover {
  background: #ddd;
}

.group.active {

  font-weight: bold;
  background-color: rgba(47, 47, 47, 0.17);
  height: 98px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  background-color: #DAE5F5;
}

.content::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('./img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 500px;

  pointer-events: none;
}

.content.no-bg::before {
  display: none;
}

.welcome-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  text-align: center;
  z-index: 1;

  top: 60%;
}

.welcome-overlay h1 {
  margin-bottom: 15px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #000000;

}

.welcome-overlay p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #292929;

}

.lock-text {
  position: absolute;
  bottom: 20px;
  font-size: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.02em;
  left: 40%;
  z-index: 1;
  color: #292929;
}

.lock-text img {
  height: 20px;
  width: 20px;
}

.notes {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  z-index: 10;
}

.note {
  background: rgb(255, 255, 255);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160.19%;
  letter-spacing: 0.035em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.note-date {
  display: block;
  margin-top: 6px;
  color: #333;
  text-align: right;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 97.69%;
  letter-spacing: 0.02em;
}

.input-section {
  position: sticky;
  bottom: 0;
  gap: 8px;
  background-color: #001F8B;
  z-index: 10;
}

.input-cover {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 20px 10px;
  border: none;
  border-radius: 6px;
  height: 211px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;

}

.input-section textarea {

  font-size: 16px;
  height: 100%;
  width: 95%;
  background: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 29.8158px;
  line-height: 35px;
  letter-spacing: 0.02em;
  color: #9A9A9A;
  border: none;
}


#sendimg {

  align-self: end;
}

.send-button {
  background: none;
  border: none;
  cursor: pointer;
  height: 60px;
  width: 70px;
  align-self: end;
}

.send-button img {
  height: 60px;
  width: 70px;
  align-self: end;
  transition: opacity 0.2s ease;
}

.send-button.disabled img {
  opacity: 0.5;
  align-self: end;
  cursor: not-allowed;
}

.send-button:not(.disabled) img {
  opacity: 1;
  align-self: end;
}

#addbutton {
  background-color: rgb(51, 188, 51);
  border: none;
  border-radius: 15px;
}

/* #addbuttonmob {
  background-color: rgb(51, 188, 51);
  border: none;
  border-radius: 15px;
} */


body.modal-open {
  overflow: hidden;
}


.modal-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.group {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.group-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.color-picker {
  display: flex;
  gap: 25px;
  margin: 20px 0;
}

.color-picker p {
  margin: 0px 40px 0px 0px;
}

.color-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-circle.selected {
  border: 2px solid #000;
}

/* Modal Box */
.modal {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  width: 714px;
  height: 314px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.2s ease-in-out;
}

.modal h3 {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 160.19%;
  letter-spacing: 0.035em;
}

.modal p {
  display: inline;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 27.314px;
  line-height: 160.19%;
  /* identical to box height, or 44px */
  letter-spacing: 0.035em;

}


.modal-buttons {
  display: flex;
  justify-content: end;

}

#createbutton {
  width: 154px;
  height: 38px;
  background: #001F8B;
  border-radius: 11px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 160.19%;
  letter-spacing: 0.035em;
  text-align: center;
  color: #FFFFFF;
}

.modal input {
  display: inline;
  width: 435px;
  height: 51px;
  border: 2px solid #CCCCCC;
  border-radius: 22px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 160.19%;
  padding: 0px 10px;
  letter-spacing: 0.035em;
  margin: 40px 20px;
  color: #979797;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}



@media (max-width: 768px) {

  .container {
    flex-direction: column;
  }

  .container h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 31.5195px;
    line-height: 37px;
    margin: 20px;
    letter-spacing: 0.02em;
  }

  .modal-overlay {
    padding: 20px;

  }

  .modal {

    width: 284px;
    height: 211px;
    height: auto;
    padding: 20px;
    border-radius: 12px;
  }

  .modal input {
    display: inline;
    height: 48px;
    border: 2px solid #CCCCCC;
    border-radius: 22px;
    margin: 5px 2px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160.19%;
    letter-spacing: 0.035em;
    color: #979797;
    padding: 0px;
    width: 150px;
  }

  #createbutton {
    width: 186px;
    height: 32px;
    background: #001F8B;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 160.19%;
    letter-spacing: 0.035em;
    color: #fff;
  }

  .color-circle {

    height: 17.6px;
    width: 17.6px;

  }

  .color-circle.selected {
    border: 2px solid #000;
  }

  .modal h3 {
    display: inline;
    font-family: 'Roboto';
    font-style: normal;
    height: 23px;
    font-weight: 500;
    font-size: 18.3958px;
    line-height: 160.19%;
    letter-spacing: 0.035em;
    color: #000000;
  }

  .color-picker {
    display: flex;
    gap: 5px;

  }

  .modal p {
    display: inline;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14.6025px;
    line-height: 160.19%;
    letter-spacing: 0.035em;
    color: #000000;
    margin: 0px;
  }


  .mobile-header {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 66px;
    background: #001F8B;
    color: white;
    padding: 0px 15px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .mobile-header .header-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 16.8px;
    color: white;
  }

  .mobile-header .header-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16.7198px;
    line-height: 20px;
    letter-spacing: 0.02em;

  }

  .back-btn {
    font-size: 22px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .mobile-groups,
  .mobile-notes {
    flex: 1;
    overflow-y: auto;
    background-color: #fff;
  }

  #addbuttonmob {
    height: 40px;
    width: 40px;
    align-self: end;
  }

  .mobile-notes {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: #DCE7F7;
  }

  .mobile-notes .note-date {
    font-size: 10px;
    text-align: right;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 200px;
  }

  .mobile-groups {
    position: relative;
  }

  .mobile-groups .group {
    padding: 5px;
    height: 70px;

    background-color: #fff;
    border-radius: 8px;
  }



  .mobile-header button {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .mobile-notes .notes {
    flex: 1;
    overflow-y: auto;
    margin: 15px 0;
  }


  .sidebar {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
    overflow-y: auto;
    height: 100vh;
  }



  .group {
    white-space: nowrap;
    margin-right: 8px;
    margin-bottom: 0;
  }

  .add-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: #16008B;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 97.69%;
    letter-spacing: 0.02em;
    z-index: 1000;

  }

  #inputmobile {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17.7059px;
    line-height: 21px;
    /* identical to box height */
    letter-spacing: 0.02em;

    color: #9A9A9A;


  }


  .content {

    padding: 15px;
  }


  .input-section {
    position: sticky;
    height: 131px;
    bottom: 0;
    background-color: #001F8B;


  }

  .input-cover {
    height: 101px;
    display: flex;
    flex-direction: row;
    width: 90%;

  }
}